.swal2-image {
  height: 100px;
}
.swal2-popup.swal2-modal {
  background: #f6f6f6;
}

.swal2-confirm.swal2-styled {
  background-color: rgb(246 146 32);
}

.swal2-cancel.swal2-styled {
  background-color: rgb(0 0 0);
}

.swal-text {
  line-height: 23px;
}

.t-checkout-carriers {
  border: 1px solid gray;
  margin-top: 10px;
}

.t-checkout-single {
  margin: 0px;
  padding: 6px;
  padding-bottom: 0px;
  padding-top: 2px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

/* hover */
.t-checkout-single:hover {
  background: lightgray;
  border-bottom: 1px solid white;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.t-checkout-single label {
  cursor: pointer;
}

.t-delivery-time {
  font-size: 13px;
  color: gray;
}

.t-restore {
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}

.t-restore:hover {
  background: lightgray;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.t-checkout-carriers.t-update {
  border: none;
  display: flex;
  justify-content: space-between;
}

.t-carrier-desc {
  font-weight: lighter;
  font-size: 13px;
}

.select2-container {
  width: 100% !important;
}
