/* import local Lato font */
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
}

#wpbody {
  /* background: #f4f4f4; */
  background: #f7f8f9;
}

.main-logo-image {
  height: 56px;
  margin-bottom: 10px;
}
.t-container {
  max-width: 100%;
  font-family: Lato, sans-serif;
}

.t-header {
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #f4f4f4;
}

.t-title {
  font-family: Lato, sans-serif;
  color: #8c8c8c;
  font-size: 18px;
}

.t-right {
  float: right;
}

.t-right a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.t-right a:hover {
  color: #f90;
}

.t-right a i {
  margin-right: 5px;
}

.t-right a i:hover {
  color: #f90;
}

.t-right a i.fa-power-off {
  color: #f90;
}

.t-btn {
  background-color: #f90;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

a.t-btn {
  text-decoration: none;
}

.t-btn:hover {
  background-color: #f60;
}

.t-btn:focus {
  outline: none;
}

.t-btn:active {
  background-color: #f60;
}

.t-btn:disabled {
  background-color: #f90;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: not-allowed;
}

.t-btn:disabled:hover {
  background-color: #f90;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: not-allowed;
}

.t-btn:disabled:focus {
  outline: none;
}

.t-btn-primary {
  background-color: #f90;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.t-btn-primary:hover {
  background-color: #f60;
}

.t-btn-primary:focus {
  outline: none;
}

.t-btn-primary:active {
  background-color: #f60;
}

.t-right a i.fa-power-off:hover {
  color: #000;
}
/* centered content .t-content-auth */
.t-content-auth {
  margin: 0 auto;
  max-width: 400px;
  padding: 50px;
  text-align: center;
}

.t-auth-text {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
}

/* card .form-area */
.t-form-area {
  background-color: #fff;
  max-width: 400px;
  width: 80;
  margin: 20px auto 20px auto;
  padding: 10px 40px 30px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  border-radius: 10px;
}

/* form-group */
.t-form-group {
  margin-bottom: 20px;
}

.t-form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}

.t-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-size: 14px;
}

.t-form-group input:focus {
  outline: none;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 5px #e7e7e7;
}

.t-form-group button[type="submit"] {
  display: block;
  width: 90%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: none;
  border-radius: 10px;
  background-color: #f90;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.t-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-size: 14px;
}

select.t-form-control {
  display: block;
  width: 100%;
  height: 51px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333333;
  background-color: #f7f8f9;
  border: none;
}

select.t-form-control:focus {
  outline: none;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 5px #e7e7e7;
}

.t-card {
  background-color: #fff;
  max-width: 400px;
  width: 80;
  margin: 20px auto 20px auto;
  padding: 10px 40px 30px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  border-radius: 10px;
}

.t-card-header {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
}

.t-card-body {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
}

.t-card-footer {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
}

.t-card-footer a {
  color: #f90;
}

.t-card-footer a:hover {
  color: #f60;
}

.t-card-footer a:focus {
  color: #f60;
}

.t-card-footer a:active {
  color: #f60;
}

.t-card-footer a:disabled {
  color: #f60;
}

.t-card-footer a:disabled:hover {
  color: #f60;
}

.t-card-footer a:disabled:focus {
  color: #f60;
}

.t-card-footer a:disabled:active {
  color: #f60;
}

/* hover button */
.t-form-group button[type="submit"]:hover {
  background-color: #f60;
}

/* floating input */
.t-form-group input[type="text"]:focus ~ label,
.t-form-group input[type="email"]:focus ~ label,
.t-form-group input[type="password"]:focus ~ label {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  left: 10px;
  position: relative;
  top: -10px;
  transition: all 0.2s ease-in-out;
}

.swal2-image {
  height: 100px;
}
.swal2-popup.swal2-modal {
  background: #f6f6f6;
}

.swal2-confirm.swal2-styled {
  background-color: rgb(246 146 32);
}

.swal2-cancel.swal2-styled {
  background-color: rgb(0 0 0);
}

.swal-text {
  line-height: 23px;
}

.t-font-sign-out {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 13px;
}

.t-font-sign-out:hover {
  color: rgb(246 146 32);
}

.t-font-sign-out:focus {
  outline: none;
}

.t-font-sign-out:active {
  color: rgb(246 146 32);
}

.t-font-sign-out:disabled {
  color: rgb(246 146 32);
}

.t-display-information {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  overflow: auto;
  width: 100%;
  max-height: 600px;
  max-width: 410px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  font-family: Lato, sans-serif;
}

.t-display-information .t-title {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}
.t-display-information p {
  font-family: Lato, sans-serif;
  color: #000000b3;
  font-size: 14px;
  font-weight: 300;
  margin: 3px;
}

.t-display-information .t-card {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
}

.t-body {
  padding-top: 40px;
}

.t-address {
  font-family: Lato, sans-serif;
  width: 92%;
  margin-left: 28px;
}

.t-flex-center {
  justify-content: center;
  align-items: center;
}

/* space arround */
.t-space-around {
  justify-content: space-around;
}

.t-space-between {
  justify-content: space-between;
}

.t-space-evenly {
  justify-content: space-evenly;
}

.t-address-card {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-size: 14px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: #ffffff;
  padding-top: 20px;
}

.t-address-card .t-form-group label {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.t-address-card .t-form-group input {
  border-style: none;
  background-color: #f7f8f9;
  padding-left: 16px;
  font-size: 16px;
  font-weight: lighter;
}

.t-address-save {
  background: orange;
  padding: 10px;
  width: 100px;
  display: block;
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-left: 29px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.t-address-save:hover {
  background: #f60;
  color: #fff;
}

.t-address-save:focus {
  outline: none;
  border: none;
  box-shadow: none;
  color: white;
}

.t-address-save:active {
  background: #f60;
  color: #fff;
  outline: none;
  border: none;
}

.t-address-save:disabled {
  background: #f60;
}

.t-address-save:disabled:hover {
  background: #f60;
}

.select2-container .select2-selection--single {
  height: 50px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 10px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 47px;
}

.select2-container--default .select2-selection--single {
  background-color: #f7f8f9;
  border: 1px solid #fff;
}

a#t-sign-out:focus {
  outline: none;
  box-shadow: none;
}

.t-standard-wrapper {
  padding: 40px;
  background-color: #fff0db;
}

.t-get-started-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.t-get-header {
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 40px;
  border-top: 10px solid #f90;
  border-bottom: 1px solid #e4e4e4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 10%);
}

.t-intro-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 10%);
}

.t-intro-list-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
}

.t-intro-list {
  width: 30%;
  max-width: 250px;
  margin-top: 0px;
}

.t-w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.t-intro-content-block {
  position: relative;
  width: 70%;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 100px;
  padding-top: 0px;
  padding-left: 50px;
}

.t-dashboard-intro-list-item.t-products-active {
  border-left: 4px solid #acdeb4;
  background-color: #fff;
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.t-dashboard-intro-list-item {
  height: 60px;
  padding-top: 20px;
  padding-left: 40px;
  background-color: hsla(0, 0%, 93.3%, 0.5);
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  -webkit-transition: border 200ms ease, background-color 400ms ease;
  transition: border 200ms ease, background-color 400ms ease;
  cursor: pointer;
}

.t-dashboard-intro-link.green {
  color: #acdeb4;
}

.t-dashboard-intro-link {
  display: inline-block;
  margin-left: 20px;
  font-family: Lato, sans-serif;
  color: #6b6b6b;
  font-size: 18px;
}

.t-dashboard-intro-icon {
  display: inline-block;
}
img.t-dashboard-intro-icon {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.t-tips-block.t-add-products {
  /* z-index: 4; */
  display: block;
  background-image: url(../img/6154615bd81a7d57e6fe1cd2_ProductCircleBG.png);
}

.t-tips-block {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  /* z-index: 5; */
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding-top: 40px;
  padding-right: 100px;
  /* padding-left: 60px; */
  /* padding-bottom: 100px; */
  border: 1px none #000;
  background-color: #fff;
  background-image: url(../img/6154615bd81a7d57e6fe1cd2_ProductCircleBG.png);
  background-position: 100% 100%;
  background-size: 300px;
  background-repeat: no-repeat;
  font-size: 24px;
}

.t-header.t-terminal-black.t-dashboard {
  margin-bottom: 20px;
}

.t-sub-header.t-grey {
  margin-bottom: 40px;
  font-family: Lato, sans-serif;
  color: #8c8c8c;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

.t-w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url(../img/youtube-placeholder.2b05e7d68d.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.t-header2 {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #f69220;
  font-weight: 400;
  text-align: left;
  line-height: normal;
  font-size: 36px;
}

.t-support-actions-link.t-call {
  background-image: url(../img/60e4bca62947b74644513c72_1778830-200.png);
}

.t-support-actions-link {
  display: block;
  width: auto;
  height: 60px;
  max-width: 275px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 40px;
  padding-left: 65px;
  border-radius: 10px;
  background-color: #f7f8f9;
  background-image: url(../img/email.png);
  background-position: 10% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 60px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

.t-support-actions-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.t-support-actions-link > a:hover {
  outline: 0;
}

.mobile-resource-back-link {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url(../img/6092b586f27b88e3a7a7ee62_5ca493ce0c12e026acb3a097_5b81db12b402394615122a95_ios7-arrow-thin-right_icon-icons.com_50346.png);
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile-resources-back-link-block {
  padding: 20px;
  border-top: 1px solid #f7f8f9;
  border-bottom: 1px solid #f7f8f9;
  padding-bottom: 0px;
  padding-left: 0px;
}
