#manage-terminal-shipping {
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .t-side-left {
      margin: 30px;
    }

    .t-shipment-header {
      display: block;
    }

    .t-button-phonebook {
      display: none;
    }

    .t-button-phonebook-mobile-inner {
      display: block;
    }

    .t-shipment-header h1 {
      font-size: 20px;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .t-side-left {
      margin: 30px;
    }

    .t-shipment-header {
      display: block;
    }

    .t-button-phonebook {
      display: none;
    }

    .t-button-phonebook-mobile-inner {
      display: block;
    }

    .t-shipment-header h1 {
      font-size: 25px;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .t-side-left {
      margin: 30px;
    }

    .t-shipment-header {
      display: block;
    }

    .t-button-phonebook {
      display: none;
    }

    .t-button-phonebook-mobile-inner {
      display: block;
    }

    .t-shipment-header h1 {
      font-size: 31px;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .t-side-left {
      margin: 30px;
    }

    .t-shipment-header {
      display: flex;
    }

    .t-button-phonebook {
      justify-content: end;
    }

    .t-button-phonebook-mobile-inner {
      display: none;
    }

    .t-shipment-header h1 {
      font-size: 31px;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .t-side-left {
      margin: 0px;
      margin-left: 30px;
    }

    .t-shipment-header {
      display: flex;
    }

    .t-button-phonebook {
      justify-content: end;
    }

    .t-button-phonebook-mobile-inner {
      display: none;
    }

    .t-shipment-header h1 {
      font-size: 31px;
    }
  }
}

#terminal-merchant-address {
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .t-merchant-page-header {
      h2 {
        font-size: 28px;
        line-height: normal;
      }
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .t-merchant-page-header {
      h2 {
        font-size: 28px;
        line-height: normal;
      }
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .t-merchant-page-header {
      h2 {
        font-size: 32px;
        line-height: inherit;
      }
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .t-merchant-page-header {
      h2 {
        font-size: 32px;
        line-height: inherit;
      }
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .t-merchant-page-header {
      h2 {
        font-size: 32px;
        line-height: inherit;
      }
    }
  }
}
