//reduce the div scroll width
.t-scroll-area-div::-webkit-scrollbar {
  width: 5px !important;
}

.t-scroll-area-div::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

.t-scroll-area-div::-webkit-scrollbar-thumb {
  background: #888 !important;
}

.t-scroll-area-div::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.t-phonebook-item {
  padding: 10px;
  border: 1px solid #0000000d !important;
  cursor: pointer;
}

.t-phonebook-item:hover {
  background-color: #f5f5f5;
  color: black !important;
}

.t-phonebook-item .t-phonebook-item-name {
  font-weight: bold;
}

.t-phonebook-item .t-phonebook-item-number {
  font-size: 12px;
  color: #999;
}

.t-phonebook-item .t-phonebook-item-number span {
  font-weight: bold;
}

.t-phonebook-scrolled-to-bottom-message {
  padding: 10px;
  text-align: center;
}

.t-phonebook-search {
  padding: 10px;
}

.t-phonebook-search input {
  border: none;
  outline: none;
  width: 100%;
}

.t-phonebook-search input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px -1px black !important;
}

.t-phonebook {
  background: transparent;
  padding: 10px 0px 10px 0px;
  width: 180px;
  display: block;
  color: black;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-left: 29px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black !important;
}

.t-phonebook:hover {
  background: #cdcccc;
  color: black !important;
}

.t-phonebook-item-sub {
  font-weight: 600;
  margin: 3px 0px 5px 0px;
}

.terminal-skeleton {
  font-family: "Inter", sans-serif;

  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;

  @keyframes shine {
    to {
      background-position: right -40px top 0;
    }
  }
}

.t-shipment-header {
  background: #ffffff;
  padding: 35px 41px;
  border-radius: 20px;
  box-shadow: 1px 0px 6px -5px black;

  h1 {
    font-family: "EB Garamond", serif;
    font-size: 31px;
    margin-right: 10px;
  }
}

.t-manage-shipping-button {
  outline: none;
  border: 1px solid #f7941e;
  padding: 12px 21px;
  border-radius: 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  img {
    margin-right: 10px;
  }

  &:hover {
    box-shadow: 0px 0px 5px -2px black;
  }
}

.t-shipping-side {
  background: #ffffff;
  padding: 40px 46px;
  border-radius: 20px;
  box-shadow: 1px 0px 6px -5px black;

  h4 {
    margin: 0px;
    font-size: 15px;
    font-weight: normal;
    color: #808080;
  }

  p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    text-align: right;
  }

  .t-shipping-p-left {
    text-align: left;
  }
}

.t-shipping-form-new {
  background: #ffffff;
  padding: 35px 41px;
  border-radius: 20px;
  box-shadow: 1px 0px 6px -5px black;
  margin-top: 5px;

  input.form-control {
    padding: 23px 16px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
  }

  input.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #333;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(51 51 51 / 8%);
  }

  select.form-control {
    padding: 0px 16px;
    border-radius: 10px;
    font-size: 15px;
    height: 48px;
  }

  select.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #333;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(51 51 51 / 8%);
  }

  .t-phone-new {
    margin: 0px !important;
    //border left top radius 0px
    border-top-left-radius: 0px !important;
    //border bottom left radius 0px
    border-bottom-left-radius: 0px !important;
  }

  label {
    font-size: 16px !important;
  }

  .t-zip-new {
    margin: 0px !important;
  }

  .select2-selection.select2-selection--single {
    padding: 0px 16px;
    border-radius: 10px;
    font-size: 15px;
    height: 48px;
    border: 1px solid #ced4da;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    font-family: inherit;
    font-weight: inherit;
    word-spacing: 10px;
  }

  .t-phone-new-select {
    //border right top radius 0px
    border-top-right-radius: 0px !important;
    //border bottom right radius 0px
    border-bottom-right-radius: 0px !important;
  }

  .t-phone-new-select-container {
    width: 30% !important;
    text-align: center;

    .select2-selection.select2-selection--single {
      padding: 0px 3px;
      border-radius: 10px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      font-size: 15px;
      height: 48px;
      border: 1px solid #ced4da;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      font-family: inherit;
      font-weight: inherit;
      word-spacing: 3px;
    }
  }
}

.t-status-delivered {
  background: #f0f9f6b2;
  color: #4bc45b;
}

.t-status-confirmed {
  background: #f0f9f6b2;
  color: #4bc45b;
}

.t-btn:hover {
  color: #fff;
}

.select2-selection.select2-selection--single {
  background: transparent !important;
}
